/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Droid Serif', serif;
font-family: 'Roboto Mono', monospace;
*/

.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


/*----- Horizontal Navigation bar -----*/
.navbar-nav {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}
 
.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-nav > li > a {
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.navbar-nav > li > a:active { 
    background-color: transparent; 
}

.navbar-nav > li > a:focus { 
    background-color: transparent; 
}

.navbar-nav > li > a:before {
    content: '';
    right:10%;
    left:100%;
    height:5%;
    background: #FFFB17;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    bottom: 0;
    z-index: -1;
    position: absolute;
    transform: translate(0%, -250%);
}

.navbar-nav a:hover:before{
    left:0;
}

.navbar-nav a:hover:before{
    left:5px;
}

.icon-bar {
    background-color: #ff6b6c;
}

.navbar-collapse {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-toggle {
   margin-top: -2.2em;
}

#bs-example-navbar-collapse-1 {
    margin-left: 4em;
}

/*------------ -----------*/



/*----- 3 Column Grid Layout -------*/
.left-col {
    padding-top: 5em;
    padding-left: 4em;
}



/*----- Left Column Grid Layout -------*/
#logo {
    position: fixed;
    max-width: 3.5em;
    max-width: 3.5em;
    width: 100%;
}

#hz-logo {
    max-width: 150px;
    width: 100%;
    margin-top: -3em;
    display: none;
}

/*-------------- ----------------*/



/*----- Home Page -------*/
.computers-img {
    background-image: url(images/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*----- Center Column Grid Layout -------*/
.main-text {
    width: 100%;
    padding: 0;
    margin-top: -100px;
    z-index: -1;
}

/*
.hero-header-name {
    font-family: 'Josefin Sans', sans-serif;
    color: red;
    font-size: 25px;
    font-weight: 800;
    margin-top: 1.5em;
    margin-bottom: -.5em;
}
*/

#hero-header {
    font-family: 'Josefin Sans', sans-serif;
    color: ghostwhite;
    font-size: 45px;
    font-weight: 800;
}

.hero-subheader {
    font-family: 'Josefin Sans', sans-serif;
    color: ghostwhite;
    font-size: 22px;
    font-weight: 800;
    margin-top: 1.5em;
}

.move-down{
    height: 25vh;
}

.about-me {
    width: 100%;
    margin-top: -30px;
}

.dot {
    color: #FFFB17;
    font-weight: 800;
    font-size: 200px;
}

/*------------ -----------*/


/*----------- Work Page ------------*/

.work-bg {
    background-color: lightcoral;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.work-menu {
    list-style: none;
 
}

.work-menu-items {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em; 
}

.work-menu > li > a {
    color: black;
    text-decoration: none;
}

.work-content {
    list-style: none;
    margin-right: -10em;
}

.work-content-items {
    margin-top: 35px;
}

.work-img {
    max-width: 650px;
    width: 100%;
}

.item {
  position: relative;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}

.item img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------------ ------------*/



/*----------- Expertise Page ------------*/
                                    
.expertise-bg {
    background-color: #fffffb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.expertise-nav > li > a {
    color: black;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

.hero-header-expertise {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 38px;
    font-weight: 800;
}

.move-down-e {
    height: 25vh;
}

.box-text {
    background-color: #4dc3ff;
    position: relative;
    height: 440px;
}

.expertise-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 3em;
    padding-right: 3em;
}

.expertise-header {
    font-family: 'Roboto Mono', monospace;
    color: #fffffb;
    font-size: 28px;
    font-weight: 800;
}

.expertise-body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #fffffb;
    font-weight: 600;
}

.box-img {
    position: relative;
    height: 440px;
}

.experience-imgs {
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.move-box-down {
    margin-bottom: 3em;
}
                                    

/*------------ ------------*/



/*----------- About Page ------------*/
.about-header-img {
    width: 100%;
}

.about-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro-about {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4em;
    margin-top: -.3em;
    font-size: 20px;
    width: 100%;
}

.hero-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
}

.red {
    color: #ff6b6c;
}

.me {
    background-image: url(images/me_black.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/*------------ ------------*/



/*----- Footer -------*/
.footer {
    min-height: 100vh;
    height: 100%;
    display: flex;
    background-color: #0d0d0d;
}

.hero-footer {
    font-family: 'Roboto Mono', monospace;
    color: ghostwhite;
    font-size: 25px;
    font-weight: 800;
    margin-top: 75px;
}

.hero-footer-md {
    font-family: 'Roboto Mono', monospace;
    color: ghostwhite;
    font-size: 19px;
    font-weight: 800;
    margin-top: -0.3em;  
}

a:hover {
    text-decoration: none;
}

.move-down-footer{
    height: 80px;
    margin-bottom: 100px;
}

/*------------ ------------*/



/*---------- Social Links----------*/

.social-icons {
    text-align: center;
    margin-top: 45px;
    
}

.hero-footer-social {
    font-family: 'Roboto Mono', monospace;
    color: ghostwhite;
    font-size: 15px;
    font-weight: 800;
    margin-top: 15px;
}

a .hero-footer-social {
    display: inline;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

hr {
    width: 20%;
    margin-top: 60px;
}

/*----------------------------------------*/

@media (max-width: 767px) {
    #hz-logo {
        display: block;
    }
    
    #logo {
        display: none;
    }
    
    .work-content {
        list-style: none;
        margin-right: auto;
    }
    
    .item {
        width: 100%;
    } 
    
    .me {
        background-attachment: fixed;  
    }
}
